<div class="container-fluid companyedit">
    <h1 style="text-align: center;">Área privada de {{user.name}}</h1>
    <hr><br><br>
    <div class="row justify-content-around">
        <div class="col-md-5 left">
            <h1>Editar oferta: {{editOffer.title}}</h1>
            <hr>
            <form method="POST" action="/company/private-company/edit?id={{editOffer.id}}">
                <div class="form-group">
                    <label>Nombre de la empresa</label>
                    <input type="text" class="form-control" name="name" value="{{editOffer.name}}" readonly />
                </div>
                <div class="form-group">
                    <label>Título de la oferta</label>
                    <input type="text" class="form-control" name="title" minlength="10" value="{{editOffer.title}}">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="place-list">Selecciona Especialidad:</label><br>
                        <input type="radio" name="study" value="UI/UX">UI/UX<br>
                        <input type="radio" name="study" value="Web Development">Web Development<br>
                        <input type="radio" name="study" value="Cyber">Cyber
                    </div>
                </div>
                <div class="form-group">
                    <label>Ubicación</label>
                    <input type="texto" class="form-control" name="location" minlength="5" value="{{editOffer.location}}">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="place-list">Tipo de empleo:</label><br>
                        <input type="radio" name="style" value="Remoto">Remoto
                        <input type="radio" name="style" value="Presencial">Presencial
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Descripción de la oferta</label>
                    <textarea class="form-control" id="description" rows="10" minlength="5" name="description"
                        value="{{editOffer.description}}">{{editOffer.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email de contacto</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="email" value="{{editOffer.email}}">
                    <small id="emailHelp" class="form-text text-muted">Solo compartiremos tu email de contacto con el
                        equipo de IronHack.</small>
                </div>
                <button type="submit" class="btn btn-outline-light btn-block">Editar y volver</button>
            </form>
        </div>
    </div>
</div>