<div class="profile">
    <div class="container-fluid">
        <h1 style="text-align: center;">Bienvenido al 치rea privada de Estudiante</h1>
        <h3 style="text-align: center; color: rgba(255,255,255,0.871)">Aqu칤 se muestran todas las ofertas de empleo publicadas</h3>
        <hr><br><br>
        <div class="row justify-content-between">
            {{#each allOffers}}
            <div class="col-4">
                <div class="card1" href="#" style="max-width: 40rem;">
                    <h3><strong>{{study}}</strong> - {{name}}</h3>
                    <h4><strong>Ubicaci칩n: </strong>{{location}} - {{style}}</h4>
                    <p class="small"><strong>Descripci칩n: </strong>{{description}}</p>
                    <a href="/student/private-student/apply-offer?id={{id}}"
                        class="btn btn-block btn-outline-light btn-md">Me interesa</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#if infoSendMail}}
<section class="container upexit">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{!-- DIBUJAR CUADRADO VER COMO HACERLO / PARALLAX /--}}
            <div style="border: 1px solid green;">
                <div class="text-white text-center py-5 px-4">
                    <div>
                        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                            <a href="/"><img src="../../images/LOGO-IRONJOB-2LINE (1).png" alt="IronJob logo"
                                    class="logoimg"></a>
                        </h2>
                        <p class="mx-5 mb-5" style="color: white; font-weigth: 700;">Tu mensaje ha sido enviado con
                            칠xito!
                        </p><br>
                        <a href="/student/private-student" class="btn btn-success">游볞 Aplicar en m치s
                            ofertas 游볞</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}